@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;700&family=Roboto+Slab:wght@300;400;600;700;900&family=Ubuntu:ital,wght@0,400;0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  background-color: #5688e3;
  color: #f5f8ff;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-bar: #4369b2;
  --subtitle-size: 1rem;
  --subtitle-weight: 500;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Header */

.header * {
  background-color: var(--bg-bar);
  font-size: 1rem;
}

.header {
  background-color: var(--bg-bar);
  padding: 2.4rem 0.7rem;
}

.nav-container {
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
}

.nav a {
  font-weight: 900;
  font-size: 1.2rem;
}

.backBttn {
  font-size: 1.5rem;
}

.simbols {
  gap: 2rem;
}

.simbols svg {
  font-size: 1.5rem;
}

/* Country list */

.list-titleBox {
  padding: 0.5rem;
  background-color: #35548b;
}

.list-titleBox * {
  background-color: #35548b;
}

.countryList-title {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
}

.country-ul {
  grid-template-columns: 1fr 1fr;
}

.country-list {
  max-width: 100%;
  padding: 3rem 0;
}

.country-list:nth-child(4n+1),
.country-list:nth-child(4n+4) {
  background-color: #3f63a5;
}

.country-list:nth-child(4n+1) *,
.country-list:nth-child(4n+4) * {
  background-color: #3f63a5;
}

.country-list:nth-child(4n+3),
.country-list:nth-child(4n+2) {
  background-color: #4067ae;
}

.country-list:nth-child(4n+3) *,
.country-list:nth-child(4n+2) * {
  background-color: #4067ae;
}

@tailwind utilities;
